.header1 {
	display: flex;
	justify-content: space-between;
	background-color: rgb(243, 240, 236);
	color: rgba(0, 0, 0, 0.705);
	h4 {
		margin: 5px 10px;
		padding: 0;
	}
}

.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	border-bottom: 1px solid GRAY;

	.logo-container {
		height: 100%;
		width: 120px;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	.options {
		width: 60%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			padding: 10px 15px;
			cursor: pointer;
		}
		.option:hover {
			background-color: black;
			color: white;
		}
	}
}
